{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{% static 'frontend/vite.svg' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React</title>

    <link rel="stylesheet" href="{% static 'frontend/assets/index-DscjKKw6.css' %}" />
  </head>
  <body>
    <div id="root"></div>
    <script src="{% static 'frontend/assets/index-BUI_c_96.js' %}"></script>
  </body>
</html>
